<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Psn Compare" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Psn Compare">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="mb-8 border-b bg-gray-50">
      <div class="mx-auto flex max-w-6xl gap-6 p-4 font-medium">
        <%= link_to "Dashboard", root_path %>
        <%= link_to "Re-earn", reearn_path %>
        <%= link_to "Trophies", trophy_comparison_index_path %>
        <%= link_to "Ownership", ownership_index_path %>
        <%= link_to "Spend", spend_index_path %>
        <%= link_to "Accounts", accounts_path %>
      </div>
    </nav>
    <main class="mx-auto max-w-6xl px-4">
      <%= yield %>
    </main>
  </body>
</html>
